# Secrets
.env

# Ignore generated agent files
**bloq.d/*
**tasq.d/*
**exeq.d/*
**reqap.d/*
**qodeyard/*
**sqrapyard/*

# Logs
**struqture/*

# Qages
worqspace/qage**
worqspace/sqrapyard**
worqspace/struqture**

# PyCache
**__pycache**

# Config Backups
**.config_backups/*
